<% content_for :front_page do %>
<div class="container">
	<div class="alert alert-warning" role="alert">
		Coming soon! Sign up bellow to get more information.
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	</div>
</div>
<div class="jumbatron">
	<div class="container">
		<div class="message-space">
			<h1 class="primary-message text-center"><span class="text-no-wrap">Let's work</span> together.</h1>
			<h2 class="secondary-message text-center">
				We take care of your website, so you can take care of business.
			</h2>
		</div>

		<div class="row">
		  <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="your@email.com">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Keep me updated</button>
		      </span>
		    </div><!-- /input-group -->
		    <p class="help-block">Ps. your email is safe with us.</p>
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
		<br>
	</div>
</div>

<div class="container">
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center">
				<p class="">Questions? Don't hesitate to contact us at <%= mail_to "info@theatrical.co", nil, encode: :javascript %></p>
			</div>
		</div>	
	</div>
	<!--
	<div class="row">
		<div class="icon col-sm-4">
			<i class="fa fa-ticket fa-fw"></i>
		</div>
		<div class="col-sm-8 sales-text">
			<h1>Sell tickets</h1>
			<p>Not everybody want to make money on art... but if you want you can! Sell tickets on your website. No fuss, just sell.</p>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-8 sales-text">
			<h1>Small budget?</h1>
			<p>No problem, we have ready made designs available to you for no extra charge. Buy a custom design when you need it.</p>
		</div>
		<div class="icon col-sm-4">
			<i class="fa fa-money fa-fw"></i>
		</div>
	</div>

	<div class="row">
		<div class="icon col-sm-4">
			<i class="fa fa-calendar fa-fw"></i>
		</div>
		<div class="col-sm-8 sales-text">
			<h1>Events</h1>
			<p>Help your audience keep track and find your events.</p>
		</div>
	</div>
	-->
</div>
<% end %>