<div class="jumbatron">
	<div class="container">
		<div class="message">
			<div class="big-header">
				<h1 class="theatrical-big">
					Theatrical
				</h1>
			</div>
			<div class="theatrical-logo-big">t</div>
		</div>
	</div>
</div>
<!--
<div class="container">
	<div class="row">
		<div class="icon col-sm-4">
			<i class="fa fa-ticket fa-fw"></i>
		</div>
		<div class="col-sm-8 sales-text">
			<h1>Sell tickets</h1>
			<p>Not everybody want to make money on art... but if you want you can! Sell tickets on your website. No fuss, just sell.</p>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-8 sales-text">
			<h1>Small budget?</h1>
			<p>No problem, we have ready made designs available to you for no extra charge. Buy a custom design when you need it.</p>
		</div>
		<div class="icon col-sm-4">
			<i class="fa fa-money fa-fw"></i>
		</div>
	</div>

	<div class="row">
		<div class="icon col-sm-4">
			<i class="fa fa-calendar fa-fw"></i>
		</div>
		<div class="col-sm-8 sales-text">
			<h1>Events</h1>
			<p>Help your audience keep track and find your events.</p>
		</div>
	</div>

</div>
-->