<div class="col-sm-4">

        <%= link_to 'New Menu', new_menu_path, class: "btn btn-default pull-right" %>

    <div class="list-group">
        <li class="list-group-item">Menus</li>
        <% @menus.each do |menu| %>
        <ul class="nav nav-tabs">
          <li class="active"><%= link_to menu.name, menu_path(menu) %></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Messages</a></li>
        </ul>
                    
        <% end %>
    </div>
</div>
<div class="col-sm-8">

</div>


