
<table class="row">
  <tr>
    <td class="wrapper last">
      
      <table class="twelve columns">
      	<tr>
      		<td class="text-pad">
  				<h1>Thank you for signing up!</h1>
  				<p>
  					To complete the sign up process please verify your email by clicking the link bellow.
  				</p>
  				<p><%= confirm_user_url(@user.try(:confirm_email_token)) %></p>
      		</td>
      		
      		<td class="expander"></td>
      	</tr>
      </table>
    
    </td>
  </tr>
</table>

<table class="row">
	<tr>
	  <td class="center" align="center">
	    <center>

	    </center>
	  </td>
	</tr>
</table>

