
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Select Producitons</h4> 
      </div>

      <div class="modal-body">

        <div class="gallery-photo">
            <div class="row">
                <% @productions.each do |production| %>
                        <div class="thumb col-xs-6 col-md-4">
                            <%= link_to add_production_to_page_path(id: production.id, page_id: @page_id, page_item_id: @page_item_id), remote: true, method: :post, class: "thumbnail" do %>
                                <% if production.photo %>
                                    <%= image_tag production.photo.image_url(:large_thumb).to_s, class: "img-responsive" %>
                                <% else %>
                                    <%= image_tag "default/large_thumb_no-thumb.png", class: "img-responsive" %>
                                <% end %>
                            <% end %>
                            <h4><%= production.name %></h4>
                        </div>
                <% end %>
            </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      

    </div><!-- /.modal-content -->
