<li class="dd-item" id="item_<%= menu_item.id %>" data-id="<%= menu_item.id %>" > 
	<div class="dd-handle">
	    <i class="fa fa-bars fa-fw text-muted"></i>
	</div>

	<%= @page.title %>

	<%= link_to menu_item, method: :delete, :remote => true, class: "list-badge pull-right" do %>
        <i class="fa fa-trash-o text-muted fa-inverse"></i>
    <% end %>

</li>