    <div id="wysihtml5-content-toolbar" class="rich-editor-toolbar rich-editor-fa-size" style="display: none;">
      <a data-wysihtml5-command="bold"><i class="fa fa-bold fa-3"></i></a>
      <a data-wysihtml5-command="italic"><i class="fa fa-italic"></i></a>
      <a data-wysihtml5-command="underline"><i class="fa fa-underline"></i></a>
      <a data-wysihtml5-command="justifyLeft"><i class="fa fa-align-left"></i></a>
      <a data-wysihtml5-command="justifyCenter"><i class="fa fa-align-center"></i></a>
      <a data-wysihtml5-command="justifyRight"><i class="fa fa-align-right"></i></a>  

      <a data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol"></i></a>
      <a data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></a>

      <%= render 'rich_link_button' %>

      <a data-wysihtml5-command="insertImage" data-wysihtml5-command-value="http://url.com/foo.jpg"><i class="fa fa-camera-retro"></i></a>
      <a data-wysihtml5-action="change_view" href="javascript:;" unselectable="on"><i class="fa fa-code"></i></a> 
    </div>