<div id="wysihtml5-content-toolbar" class="rich-editor-toolbar btn-toolbar" style="display: none;">
    <div class="btn-group">
        <a class="btn btn-default" data-wysihtml5-command="bold"><i class="fa fa-bold fa-fw"></i></a>
        <a class="btn btn-default" data-wysihtml5-command="italic"><i class="fa fa-italic fa-fw"></i></a>
        <a class="btn btn-default" data-wysihtml5-command="underline"><i class="fa fa-underline fa-fw"></i></a>
        <a class="btn btn-default" data-wysihtml5-command="justifyLeft"><i class="fa fa-align-left fa-fw"></i></a>
        <a class="btn btn-default" data-wysihtml5-command="justifyCenter"><i class="fa fa-align-center fa-fw"></i></a>
        <a class="btn btn-default" data-wysihtml5-command="justifyRight"><i class="fa fa-align-right fa-fw"></i></a>  

        <a class="btn btn-default" data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol fa-fw"></i></a>
        <a class="btn btn-default" data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul fa-fw"></i></a>
        
        
    </div>
    <button class="btn btn-default" data-toggle="modal" data-target="#mediaModal">
        <i class="fa fa-picture-o"></i> Images
    </button>        
    
    <%= render 'rich_link_button', :modal => "contentModal" %>

    <a class="btn btn-default" data-wysihtml5-action="change_view" href="javascript:;" unselectable="on"><i class="fa fa-code"></i></a>
           
</div>