      <div class="rich-link">
        <a data-wysihtml5-command="createLink"><i class="fa fa-link"></i></a>
        <div data-wysihtml5-dialog="createLink" style="display: none;">
          <label>
            Link url: <input data-wysihtml5-dialog-field="href" value="http://" class="text">
          </label>
          <a data-wysihtml5-dialog-action="save">OK</a>
          <a data-wysihtml5-dialog-action="cancel">Cancel</a>
        </div>
      </div>