@import "variables";
@font-face {
  font-family: 'neutra';
  src:font-url('NeutraText-Demi.eot');
  src:font-url('NeutraText-Demi.eot?#iefix') format('embedded-opentype'),
    font-url('NeutraText-Demi.svg#neutra') format('svg'),
    font-url('NeutraText-Demi.woff') format('woff'),
    font-url('NeutraText-Demi.ttf') format('truetype');
}
@font-face {
  font-family: 'theatrical';
  src:font-url('theatrical.eot');
  src:font-url('theatrical.eot?#iefix') format('embedded-opentype'),
    font-url('theatrical.svg#theatrical') format('svg'),
    font-url('theatrical.woff') format('woff'),
    font-url('theatrical.ttf') format('truetype');
}

::selection {
        background: $purple;
        color: white;
}
::-moz-selection {
        background: red;
        color: white;
}

img::selection {
        background: transparent;
}
img::-moz-selection {
        background: transparent;
}

body {
        -webkit-tap-highlight-color: rgba(255,0,0, 0.62);
}


html {
	height: 100%;
}
#header {
	background-color: $bg;
}
/*
.alert {
	background-image: url(image_path('alert.png'));
}
.notice {
	background-image: url(image_path('notice.png'));
}
.notice, .alert {
	display: table;
	margin: 0 auto 15px;
	padding-left: 41px;
	font-size: 18px;
	color: $gray5;
	background-position: 0 center;
	background-repeat: no-repeat;
	line-height: 26px;
	&:hover {
		background-image: url(image_path('remove-notice.png'));
	}
}
 */
.main {
	background-color: $bg;
	// border-bottom: 5px solid darken($bg, 10)
}
#footer {
	height: 300px;
}
.error-container {
	margin: 0 15px;;
}
.form-errors {
	font-size: 12px;
	color: $red;
	line-height: 150%;
	margin-bottom: 30px;
}
.back {
	margin: 15px;
}