@import "variables";
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	.jumbatron {
		width: 100%;
		height: 625px;
		background-color: $purple;
		background-image: url("home_grid.png");
		background-attachment:fixed;
		background-position:center;
	}
	.message {
		position: relative;
	}
	.theatrical-logo-big {
		position: absolute;
		left: 0;
		top: 0;
		font-family: theatrical;
		width: 430px;
		height: 445px;
		font-size: 600px;
		line-height: 100%;
		color: $white;
	}
	.theatrical-big {
		position: absolute;
		left: 500px;
		top: 80px;
		font-family: neutra, sans-serif;
		font-size: 130px;
		line-height: 100%;
		font-weight: 100;
		color: $white;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 

	.theatrical-big { 

	}
	.theatrical-logo-big {
		width: 430px;
		height: 445px;
		font-size: 400px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 

	.theatrical-big { 

	}
	.theatrical-logo-big {

	}

}