@import "variables";
@import "bootstrap-custom";

	.jumbatron {
		width: 100%;
		height: 400px;
		background-color: $purple;
		background-image: url("home_grid.png");
		background-repeat: no-repeat;
		background-position: center top;
	}
	.message {
		position: relative;
	}
	.theatrical-logo-big {
		text-align: center;
		font-family: theatrical;
		font-size: 400px;
		line-height: 100%;
		color: $white;
	}
	.theatrical-big {
		display: none;
	} 


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 

	.jumbatron {
		width: 100%;
		height: 400px;
		background-color: $purple;
		background-image: url("home_grid.png");
		background-repeat: no-repeat;
		background-position: center top;
	}
	.message {
		position: relative;
	}
	.theatrical-logo-big {
		position: absolute;
		left: -40px;
		top: 0;
		font-family: theatrical;
		width: 330px;
		height: 345px;
		font-size: 400px;
		line-height: 100%;
		color: $white;
	}
	.theatrical-big {
		display: block;
		position: absolute;
		left: 310px;
		top: 30px;
		font-family: neutra, sans-serif;
		font-size: 90px;
		line-height: 100%;
		font-weight: 100;
		color: $white;
	} 

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	.jumbatron {
		width: 100%;
		height: 525px;
		background-color: $purple;
		background-image: url("home_grid.png");
		background-repeat: no-repeat;
		background-position: center top;
	}
	.message {
		position: relative;
	}
	.theatrical-logo-big {
		position: absolute;
		left: -40px;
		top: 0;
		font-family: theatrical;
		width: 430px;
		height: 445px;
		font-size: 500px;
		line-height: 100%;
		color: $white;
	}
	.theatrical-big {
		position: absolute;
		left: 390px;
		top: 50px;
		font-family: neutra, sans-serif;
		font-size: 110px;
		line-height: 100%;
		font-weight: 100;
		color: $white;
	} 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	.jumbatron {
		width: 100%;
		height: 625px;
		background-color: $purple;
		background-image: url("home_grid.png");
		background-repeat: no-repeat;
		background-position: center top;
	}
	.message {
		position: relative;
	}
	.theatrical-logo-big {
		position: absolute;
		left: 0;
		top: 0;
		font-family: theatrical;
		width: 430px;
		height: 445px;
		font-size: 600px;
		line-height: 100%;
		color: $white;
	}
	.theatrical-big {
		display: block;
		position: absolute;
		left: 500px;
		top: 80px;
		font-family: neutra, sans-serif;
		font-size: 130px;
		line-height: 100%;
		font-weight: 100;
		color: $white;
	}
}