@import "variables";
@import "bootstrap-custom";
@import "twitter/bootstrap";

.nav {
	display: none;
}
.navbar-toggle {
	display: auto;
}


@media (min-width: $screen-lg-min), (min-width: $screen-md-min), (min-width: $screen-sm-min)  { 
	.nav {
		display: block;
		float: right;
		margin: 40px 15px 0;
		a {
			font-family: neutra;
			text-decoration: none;
			&:hover, &:visited, &:active {
				color: $btext;
				background-color: transparent;
			}
		}
	}
	.navlist {
		li {
			display: block;
			float: left;
			margin: 0 15px 0;
			a {
				text-decoration: none;
				color: $btext;
				font-size: 18px;
				font-weight: 100;
				&:hover { border-bottom: 1px solid $btext; }
			}
			.dropdown-menu {
				width: 180px;
			}
		}

	}
}