@import "variables";
@import "bootstrap-custom";
.navbar {
	@media (max-width: $screen-sm-max) {
		.navbar-toggle {
			margin-top: 30px;
		}
	}
	@media (min-width: $screen-sm-min) {
		margin-top: 20px;
		#main-navigation {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	margin: 0 !important;
	
	li {
		&:hover { background-color: $gray-lighter; }
	}
}

.logo {

	.theatrical-logo {
		font-family: "theatrical";
		color: $purple;
		vertical-align: middle;
		font-size: 69px;
	}
	h1 {
		margin: 10px 0 0 0;
		color: $btext;
		font-size: 30px;
		line-height: 69	px;
		font-family: "neutra", sans-serif;
	}
	@media (min-width: $screen-md-min) {
	h1 {
		font-size: 36px;
	}
	}
	&:hover, &:active {
		.theatrical-logo { 
			color: lighten($purple, 10);
			text-decoration: none;
		}
	}
	a {
		&:hover, &:active { text-decoration: none;}
	}
}
.navbar-default {
	background-color: transparent;
	border: none;
}
.nav {
	a {
		font-size: 16px;
		font-weight: 100;
		font-family: $font;
	}
}
