// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "bootstrap-custom";

.wysihtml5-commands-disabled + textarea{
	font-family: monospace !important;
	font-size: 14px;
}
.wysihtml5-editor {

}
.rich-editor-fa-size {
	.fa {
		color: $gray1;
		&:hover {
			color: $gray5;
		}
	}
}
.rich-editor-toolbar {
	position: relative;
	margin-bottom: 15px;
}
.link-activator {

}
.thumb {
	margin-bottom: 15px;
}
.selected-link {

}
.photo-controls-holder {
	z-index: 2000;
	position: relative;
}
.page-manager-photo-name {
	font-family: $font;
}
#page-manager-controls {
	display: none;
	position: absolute;
	top: 3px;
	left: 0;
	border: 1px solid $gray-light;
	background-color: white;
	padding: 10px 10px 0;
}
.page-manager-controls-width {

}
@media (min-width: $screen-xs-min) { 
	.media-modal-dialog{
		
	}
}
@media (min-width: $screen-sm-min) { 
	.media-modal-dialog{
		width: 90% !important;
		max-width: 700px;
	}
}
@media (min-width: $screen-md-min) { 
	.media-modal-dialog{
		width: 90% !important;
		max-width: 900px;
	}
}
@media (min-width: $screen-lg-min) { 
	.media-modal-dialog{
		width: 90% !important;
		max-width: 1100px;
	}
}
.page-excerpt-heading {
	margin-bottom: 15px;
}
.listed-page {
	margin: 15px 0 45px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-xs-min) { 
	.page-form-controls {
		margin-top: 30px;
	}
	.thumb { 
		float: left;
	}
}
@media (min-width: $screen-sm-min) { 
	.page-form-controls {
		margin-top: 110px;
	}
	.thumb { 
		float: left;
	}
}
/*
.listed-page-thumbnail {
	margin: 0 15px;
	border: 2px solid $gray5;
	float: left;
	width: 285px;
	height: 204px;
	td {
		width: 285px;
		height: 204px;
		text-align: center;
		vertical-align: middle;
		i {

			font-size: 102px;
			color: $gray5;
			
		}
	}
} */
.pages {
	.thumb {
		border: 2px solid $gray-light;
	}
	.listed-page-thumbnail {
		td {
			text-align: center;
			vertical-align: middle;
			i {

				font-size: 200px;
				color: $gray5;
				
			}
		}
	}
}
.listed-page-text {
	float: left;
	width: 370px;
	margin: 0 15px;
	p {
		color: $gray4;
	}
}
.listed-page-header {
	margin: 0;
}
.listed-page-status {
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 0;
}
.listed-page-controlls {
	margin-top: 30px;
	font-size: 18px;
	color: $gray5;
	a {
		font-size: 18px;
		color: $gray5;
	}
}
