// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "bootstrap-custom";

.wysihtml5-commands-disabled + textarea{
	font-family: monospace !important;
	font-size: 14px;
}
.wysihtml5-editor {

}
.rich-editor-fa-size {
	.fa {
		color: $gray1;
		&:hover {
			color: $gray5;
		}
	}
}
.rich-editor-toolbar {
	margin-bottom: 15px;
}
.page-excerpt-heading {
	margin-bottom: 15px;
}
.listed-page {
	margin: 15px 0 45px;
}
/*
.listed-page-thumbnail {
	margin: 0 15px;
	border: 2px solid $gray5;
	float: left;
	width: 285px;
	height: 204px;
	td {
		width: 285px;
		height: 204px;
		text-align: center;
		vertical-align: middle;
		i {

			font-size: 102px;
			color: $gray5;
			
		}
	}
} */
.pages {
	.thumb {
		border: 2px solid $gray-light;
	}
	.listed-page-thumbnail {
		td {
			text-align: center;
			vertical-align: middle;
			i {

				font-size: 200px;
				color: $gray5;
				
			}
		}
	}
}
.listed-page-text {
	float: left;
	width: 370px;
	margin: 0 15px;
	p {
		color: $gray4;
	}
}
.listed-page-header {
	margin: 0;
}
.listed-page-status {
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 0;
}
.listed-page-controlls {
	margin-top: 30px;
	font-size: 18px;
	color: $gray5;
	a {
		font-size: 18px;
		color: $gray5;
	}
}
.page-photo-manager-background {
	display: none;
	position: absolute;
	z-index: 500;
	width: 100%;
	@include transparent($gray1, 0.7);
	top: 0;
	left: 0;
	.page-photo-manager {
		z-index: 600;
		padding: 15px;
		width: 840px;
		background-color: $white;
		margin: 100px auto;
		border: 2px solid $gray5;
		.page-select-image {
			float: left;
			width: 630px;
		}
	}
}
.page-photo-manager-links {
	a {
		color: $gray4;
	}
	a.current {
		color: $gray5;
	}
	width: 590px;
	float: left;
	margin: 0 15px -5px;
	position: relative;
}
a.close-photo-manager {
	position: absolute;
	right: -245px;
	top: -40px;
	color: $white;
}
.page-manager-controls {
	width: 180px;
	margin: 0 15px 0;
	height: 200px;
	float: right;
	label {
		
	}
	textarea {
		width: 180px;
		resize: vertical;
		border-bottom: 2px solid $gray5;
	}
	.photo-manager-controll-input {
		width: 100%;
		line-height: 21px;
	}
	table {
		width: 100%;
	}
}
.descriptoin-label {
	margin-top: 15px;
}
.photo-manager-controll-label {
	width: 35px;
	color: $gray5;
	line-height: 21px;
}
#controll-insert-image-link {
	display: none;
	font-size: 18px;
}
a.page-set-thumbnail {
	display: none;
	&:hover, &:link { color: $gray5; }
}
.search-page-photos {
	color: $gray4;
	border-bottom: 2px solid $gray5;
	line-height: 21px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
