// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
#thumbnails {

}
.thumb {
  float: left;
  margin: 15px;
  position: relative;
  width: 176px;
  img {
    border: 2px solid $gray4;
  }
}
.thumb-meta {
  display: none;
  font-size: 12px;
  color: white;
  font-family: neutra;
  padding: 0 5px 0 5px;
  position: absolute;
  background-color: $gray5;
  top: 0;
  right: 0;
  @include transparent($gray1, 0.5);
  @include roundcornerBL();
  a, a:visited {
    line-height: 150%;
    font-size: 12px;
    color: white;
    text-decoration: none;
    &:hover, &:active {
      background-color: transparent;
      color: $red;
    }
  }
}
.thumb {
  &:hover {  .thumb-meta { display: block; } } 
}
.photo-name {
  font-family: $font;
  font-size: 14px;
}
.tag {
  font-family: $font;
  font-size: 14px;
  color: white;
  background-color: $gray5;
  padding: 3px 3px 1px;
  @include roundcorners(3px);
  a {
    color: white;
    text-decoration: none;
  }
}
.photo {
  width: 794px;
  margin: 0 15px;
  float: right;
  position: relative;
  img {
    float: left;
    margin: 0 auto;
    border: 5px solid $gray1;
  }
}
.fields {
  float: left;
  width: 176px;
  margin: 0 15px;
  input, textarea {
    font-family: $font;
    padding-bottom: 2px;
    width: 100%;
    color: $gray1;
    font-size: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray5;
  }
  textarea {
    &:empty { height: 24px; }
    resize: vertical;
  }
}
.file-field-container {
  vertical-align: middle;
  position: relative;
  width: 797px;
  height: 510px;
  margin-bottom: 10px;
  font-family: $font;
  table {
    border: 2px solid $gray5;
    width: 797px;
    height: 510px;
    td {
      &:hover {
        text-decoration: underline;
      }
      color: $gray5;
      font-size: 18px;
      text-align: center;
      vertical-align: middle;
    }
  }
  input {
    border: none;
    width: 797px;
    height: 510px;
  }
}
.fake-file-field {
  
  font-size: 18px;
}
input.upload-photo-field {
  font-size: 12px;
  opacity:0;
  position: absolute;
  top: 0;
  left: 0;
}
input.photo-tag-field {

}
input.photo-name-field {
  font-size: 18px;
  color: $gray1;
  border-bottom: 1px solid $gray5;
}
input.submit-photo {
  float: right;
  margin-top: 15px;
  width: auto;
  border: none;
  background-color: transparent;
  color: $gray1;
  font-size: 18px;
  &:hover {
    text-decoration: underline;
  }
}
a.delete-photo {
  display: inline-block;
  margin-top: 15px;
  color: $gray5;
}