// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "bootstrap-custom";

.photos {
  .caption {
    margin-bottom: 60px;
    a {
      color: #333;
    }
  }
  .thumb {
    img {
      border: 2px solid $gray4;
    }
  }
  .label {
    line-height: 20px;
  }
}