// Place all the styles related to the themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-custom';
.theme-preview-image {
	border: 2px solid $gray-light;
}
.current-theme-header {
	margin: 0;
}
.current-theme-sub {
	margin: 0;
}
.current-theme {
	margin-bottom: 60px;
}
.themes-index-header {
	margin: 0 0 15px;
}